{
  "presets": [
    ["env", { "modules": false }]
  ],
  "env": {
    "production": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ],
      "plugins": ["angularjs-annotate"]
    },
    "development": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ],
      "plugins": ["angularjs-annotate"]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  }
}